html,
body {
height: 100%;
font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.main-page {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin: 34px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-text {
    margin-left: 18px;
}

.banderogus-container {
    background-color:white;
    padding: 60px 56px;
    align-self: center;
}

.banderogus-greeting {
font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.banderogus-start {
    font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 48px;
        color: #FF6B0A;
}

.banderogus-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #1B1D1F;
        margin-top: 24px;
        margin-bottom: 48px;
}

.banderogus-title {
    color: #1B1D1F;
    font-weight: 600;
        font-size: 64px;
        line-height: 72px;
        display: flex;
        align-items: center;
}

.banderogus-launch {
    width: 172px;
        height: 48px;
        left: 151px;
        top: 532px;
        padding: 12px 24px;
        background: #FF6B0A;
        border-radius: 8px;
        font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            cursor: pointer;
}

.main-page-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.banderogus-img {
    align-self: flex-end;
}

.gus-facts {
    padding: 54px 0px 72px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gus-title {
    font-weight: 600;
        font-size: 48px;
        line-height: 100px;
        color: #1B1D1F;
        margin: 16px 0px;
}

.gus-desr {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #1B1D1F;
        width: 875px;
}

.gus-facts-container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.gus-fact-iter {
    width: 33%;
}

.gus-fact-title {
        font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #1B1D1F;
            margin: 12px 0 32px 0;
}

.gus-fact-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #1B1D1F;
        width: 280px;
}

.victory-footer { 
    display: flex;
    justify-content: center;
}

.victory-bgd {
    width: 1170px;
    background: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
    padding: 72px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vicory-title {
    font-weight: 600;
        font-size: 48px;
        line-height: 100px;
        color: #1B1D1F;
}

.victory-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #1B1D1F;
        width: 875px;
        text-align: center;
}


.modal-bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 / 70%);
        display: flex;
        align-items: center;
        justify-content: center;
            opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease-in-out;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-container {
    background: #FFFFFF;
    padding: 32px 92px 62px 92px;
    position: relative;

}

.modal-form-title {
    font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #000000;
        margin: 32px 0 12px 0;
}

.modal-form-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 24px;
}

.modal-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal-field-name {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 8px;
}


.modal-field-input {
    border: 1px solid #005BBB;
    border-radius: 8px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 4px 8px;
}

.modal-form-btn {
        width: 172px;
        height: 48px;
        left: 151px;
        top: 532px;
        padding: 12px 24px;
        background: #FF6B0A;
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 24px;
}

.close-btn {
position: absolute;
right: 20px;
top: 20px;
font-size: 20px;
color: #1B1D1F;
cursor: pointer;
border: 0;
background: none;
}

.modal-descr {
    margin-bottom: 0;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

